/*----------------------------------------------------*/

/* BASIC SETUP */

/*----------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

.uppercase {
  text-transform: uppercase;
}

.card-panel {
  color: black;
}

.major-box p {
  margin-bottom: 5%;
}

.collapsible-body p {
  margin-bottom: 1%;
}


